@charset "UTF-8";
@import "~antd/dist/antd.css";
@font-face {
  font-family: SpoqaHanSansNeo;
  src: local(☺),
    url(../public/font/SpoqaHanSansNeo-Regular.woff2) format("woff2"),
    url(../public/font/SpoqaHanSansNeo-Regular.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: local(☺),
    url(../public/font/SpoqaHanSansNeo-Medium.woff2) format("woff2"),
    url(../public/font/SpoqaHanSansNeo-Medium.woff) format("woff");
  font-weight: 400;
}

html,
body {
  font-family: SpoqaHanSansNeo, sans-serif !important;
  font-weight: 300;
  color: #05141f;
}

/* start antd */
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  /* margin-left: 30px; */
  background: #fff;
}
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
/* end antd */

/* #header {
  position: fixed;
  left: 200px;
  right: 0;
  top: 0;
  box-sizing: border-box;
  min-width: 700px;
  max-width: 1620px;
  padding: 0;
  background-color: #fff;
  z-index: 1060;
} */
#header .headerIn {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 70px;
  padding: 0 40px;
  border-radius: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #002140;
  /* position: fixed; */
  /* background-color: #05141f; */
}
/* .noticeName {
  padding-top: 24px;
} */
.noticeName::after {
  content: "";
  display: block;
  clear: both;
}
.noticeName .quickNotice {
  float: left;
  position: relative;
  margin-right: 18px;
}
.noticeName .userName {
  display: inline-block;
  height: 23px;
  line-height: 23px;
  margin: 0;
  font-size: 15px;
  color: #b9bdc1;
}
.noticeName .userName span {
  display: inline-block;
  font-weight: 400;
  color: #fff;
}
.setupLogin {
  overflow: hidden;
  /* padding-top: 23px; */
}
.setupLogin .label {
  float: left;
  display: block;
  box-sizing: border-box;
  padding: 0 11px;
  height: 25px;
  line-height: 23px;
  border: 1px solid #fff;
  font-size: 11px;
  color: #fff !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
